@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700&family=Open+Sans:wght@300;600;700&display=swap');

* body{
    margin: 0;
    padding: 0;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/frontend/resources/images/Slice\ 1.png');
  background-size: cover;
  background-position: center center;
}   