*body{
    margin: 0;
    padding: 0;
}

.img-fluid{
    width: 100%;
    height: 100%;
    margin-left: -20px;
    margin-bottom: 1.5rem;
}


.col-lg-1 {
    .cookikt-font{
    font-family: Open Sans;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    opacity: 80%;
   
    }
}

.col-lg-1 {
    .login-font{
    font-family: Catamaran;
    font-size: 25px;
    font-weight: lighter;
    color: #000000;
    opacity: 80%;
    margin-top: 16px;
    margin-left: -30px;
    }
}

.col-lg-2{
    .no-account{
        margin-top: 250px;
        margin-left: -300px;
    }
}

.margin-setup{
    margin-top: 150px;
    margin-left: 100px;
}
